<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/bread1/slide1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong> Enjoy your drink!<br> Senetteria </strong></h1>
                        <p class="m-b-40"> 학교 기업 세네뜨리아 <br> Semyung University Cafeteria</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/bread1/slide2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong> Enjoy your drink!<br> Senetteria </strong></h1>
                        <p class="m-b-40"> 학교 기업 세네뜨리아 <br> Semyung University Cafeteria</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/bread1/slide4.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong> Enjoy your drink!<br> Senetteria </strong></h1>
                        <p class="m-b-40"> 학교 기업 세네뜨리아 <br> Semyung University Cafeteria</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/logo.png" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">세네뜨리아 <span> 이야기</span></h2>
                <p>
                    세네뜨리아란 세명 (Semyung) + 빵집 (Panetteria : 이탈리아어) 의 합성어로<br>
                    교직원 내 공모를 통해 선정된 이름입니다.
                </p>

                <p>세네뜨리아는 빵이 나오는 시간은 정해져 있지 않지만,<br> 적은 양을 자주 생산하여
                    신선한 빵을 제공하고 있습니다.<br></p>

                <p>당일 생산, 당일 판매를 원칙으로 남는 빵은 다음날 팔지 않고 <br>
                    폐기 처리하여 믿고 먹을 수 있는 빵을 제공하고 있습니다.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>당일 생산, 당일 판매를 원칙으로 남는 빵은 다음날 팔지 않고
                        폐기 처리하여 믿고 먹을 수 있는 빵을 제공하고 있습니다. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Green Peace</h3>
                    <p>셀프 포장 외에 포장된 빵을 제공하지 않습니다. <br>
                        텀블러 할인 300원
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Business Time</h3>
                    <p>홀, 음료 마감은 17시 30분이며, 빵 마감은 18시까지입니다. </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>