<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
<!-- Basic -->

<head th:replace = "~{fragments::head}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>
<!-- Start All Title Box -->
<div th:replace = "~{fragments:: all-title-box}"></div>
<!-- End All Title Box -->

<section id="register-form">
    <div class="noi-dung">
        <div class="form">
            <div class="input-form">
                <div class="input-form">
                    <h2>이메일 인증</h2>
                    <form action="/verifyCode" method="post">
                        <input type="hidden" name="email" th:value="${email}" required> <!-- 이메일 주소를 숨김 필드로 전달 -->
                        <div class="input-form">
                            <input type="text" name="code" placeholder="인증번호를 적어주세요" required>
                        <div>
                        <div class="input-form mt-3">
                            <input type="submit" value="확인">
                        </div>
                    </form>
                </div>
                <footer class="w-full text-center border-t border-grey p-1 pin-b">
                    <h2 class="text-xm text-gray-600">세네뜨리아 이메일 인증</h2>
                </footer>
            </div>
        </div>
    </div>
</section>

</body>

</html>